
:root {
    --primary:#3A1824;
    --tertiary:#4C2D38;
    --secondary:#cbb573;
    --off-white:#f2f0ef;
    --on-black:#000;
    --dark-blue:#001524


}
/* header container (main/center) */
.header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

}
.upper-half{
    background-color: color-mix(in srgb, var(--primary), black 35%);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
.bottom-half{

    background-color: color-mix(in srgb, var(--primary), black 15%);
    display: flex;
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
}
.right-sec {
    display: flex;
    flex-direction: row;
    align-items: flex-end;  /* pins them to the right end side of the container's hight */
    gap: 8px;               /* space between bttns and the util if you have 1+ elemetns it does the gap */
}
.r-right-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
/*left-header-section*/
.logo-placeholder {
    width: 150px;
}
/* 1. The main rectangular track */
.theme-switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    /* this to make the switch wider/taller */
}

/* 2. hide the actual checkbox, but keep it accessible for the script */
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* 3. track (slider base) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--off-white); /*t Light Track Color */
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

/* 4. The Ball (The 'before' pseudo-element of the slider) */
.slider::before {
    position: absolute;
    content: "☀️"; /* Default Light Icon (Sun) */
    font-size: 0.8rem;
    display: flex; align-items: center; justify-content: center; /* Center the icon in the ball */

    /* Sizing the ball slightly smaller than the track height */
    height: 16px;
    width: 16px;

    /* Positioning (initial state = far left) */
    left: 3px;
    bottom: 3px;

    border-radius: 50%; /* Make the ball round */

    /* Colors (Light State) */
    background-color: var(--off-white); /* White ball */
    color: #333; /* Black icon */

    /* SWIPE ANIMATION: Only on the transform property */
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* A. Change the Track color when checked */
input:checked + .slider {
    background-color: color-mix(in srgb, var(--primary), black 75%);; /* Dark Track Color */
}

/* B. The 'Swipe Right' movement and icon/color swap */
input:checked + .slider::before {
    /* MATH: width - ball  - original left offset (3px) - new right offset (3px)  */
    /*45-16-3-3*/
    transform: translateX(23px);

    /* Content Swap: Change sun to moon */
    content: "🌙";

    /* Color Swap (Dark State) */
    background-color: color-mix(in srgb, var(--primary), black 75%);; /* Black ball */

}
.utility-link {
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
    color: var(--off-white);
    text-decoration: none;
    padding-right: 2px;
    padding-bottom: 2.7pt;
    transition: color 0.7s ease-in-out;
}
.utility-link:hover {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--secondary);
    font-weight: 400;
}
/*auth-bttns*/
.auth-bttns {
    display: flex;
    gap: 12px;

}
.btn {
    background-color: color-mix(in srgb, var(--primary), black 35%);
    padding: 4px 10px;
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    gap: 3px;
    transition: color 0.7s ease-in-out;

}
.btn-login {
    color: var(--off-white);
    font-weight: 300;
    display: flex;
    align-items: center;
}
.btn-login:hover {
    color: var(--secondary);
    font-weight: 400;
    transition: color 0.7s ease;

}
/* list container (<ul>) */
.nav-list {
    align-items: center;
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* individual links  (<a>) */
.nav-link {
    color: var(--off-white);
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;

}

/* hover */
.nav-link:hover {
    color: var(--secondary);
    transition: color 0.3s ease;


}
.active {
    color: var(--secondary);
    font-weight: 500;

}
/*Index-Hero*/
.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%),
    url('../assets/index-assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;
    padding-left: 80px;

}

.hero-text-wrapper {
    max-width: 600px;
    color: white;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}
.hero-bttn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-left: 30px;
    transition: color, background-color 0.5s ease-in-out;


}
.hero-bttn:hover {
    background-color:var(--off-white);
    color:var(--on-black);

}
#lang-modal {
    /* positioning */
    position: fixed !important; /* pop-ups usually wants to live in the center, this is done to make it fixed at top right */
    top: 70px !important;
    right: 20px !important;
    left: auto !important;
    /*fight any left styling that may conflict with the pop up*/
    margin: 0 !important;
    /* ensures no margins are pushing it */
    width: 350px;     /* more -> bigger -> wider */
    min-height: 300px;
    /*min height of the pop up*/
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    border:none;
    background: white;
    z-index: 1000;
}
.modal-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.apply-bttn {
    background-color: var(--primary);
    color: var(--off-white);
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    margin-top: 25px;
}
/* Container for the dropdown */
.custom-dropdown {
    position: relative;
    /*rmakes the list open relatively to the container of the pop up, spicifically to the country div*/
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    /*turns the arrow into a hand icon for better visual interaction*/
    margin-bottom: 15px;
    background: white;
}

/* The list (hidden by default) */
.dropdown-list {
    display: none;
    /*initially making this not visible untill triggered by the JS script to make it :block; (visible)*/
    position: absolute;
    /*fix its position when opened, not pushing everything down*/
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    /*clear the normal list style*/
    padding: 0;
    z-index: 1001;
    /*    higher than the dialog and the bottom header*/
}

.dropdown-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    /*as usual all 3 props make the text and the image aligned well on a center horizontal axis*/
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
    /*    Make it grey on the selection on hovering*/
}

/* Show class for JS */
.dropdown-list.show {
    display: block;
    /*    when show(), change this property to block in the dropdownlist selector*/
}
footer {
    margin-top: auto;
    /*    pushes the footer down untill doing the main section*/
}
.upper-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #EDE9E6;
    margin-top: 12px;
    padding: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;

}
.upper-footer h1, .upper-footer h2, .upper-footer h3, .upper-footer h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 540;
    padding-left: 10px;
    font-size: large;
    margin-top: 0;
    color: var(--primary);
}
.upper-footer p {
    padding: 12px 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8b8c89
}

.upper-footer-ul {

    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding-left: 15px;


}
.upper-footer-ul a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8b8c89;
    text-decoration: none;
}
.upper-footer-ul li:hover a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--on-black);
    text-decoration: underline;
    font-weight: 400;
}

.lower-footer {
    display: flex;
    align-items: center;
    border-top: 2px solid #EDE9E6;
    height: 60%;



}
.lower-footer-ul {

    display: flex;
    flex-direction: row;
    gap: 7px;
    list-style: none;
    padding-left: 15px;

}
.lower-footer-ul a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8b8c89;
    text-decoration: none;
}
.lower-footer-ul li:hover a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--on-black);
    text-decoration: underline;
    font-weight: 400;

}
.lower-footer-img {

    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%),
    url("../assets/index-assets/lower-footer-pattern.png");

    background-size: contain;
    background-position: bottom center;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 80px;
    /* Vertical Centering (The missing piece) */
    align-items: center;

}
.lower-footer-ul li:not(:last-child)::after {
    content: "|"; /* Adds a pipe character */
    margin-left: 12px; /* Adds space after the pipe */
    color: #ccc;
}
