*{
    font-family: 'Plus Jakarta Sans' ,sans-serif;
    padding: 0%;
    margin: 0%;
}
:root {
    --primary: #3A1824;
    --tertiart: #4C2D38;
    --secondary: #cbb573;
    --off-white: #f2f0ef;
}

body
{
    background-color: var(--off-white);
}
.sec-form-text{
    color: var(--tertiart);
    font-size: 10px;
}
.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 473px;
}
.heading{
    max-height: 473px;
    flex-shrink: 0;
    margin-right: 40px;
}
.head-text{
    font-size: 96px;
    margin: 20px;
}
.head-details{
    font-size: 18px;
    margin: 20px;
    max-width: 700px;
    color: var(--primary);
}
.head-small-text{
    margin: 20px;
    margin-top: 60px;
}
.head-quote{
    margin: 20px;
    margin-top: 40px;
    max-width: 400px;
}
.contacts{
    position: relative;
    flex-shrink: 0;
    margin: 20px;
    width: 561px;
    height: 473px;
    background-color: var(--secondary);
}
#phone-icon{
    position: absolute;
    font-size: 30px;
    left: 50px;
    top: 50px;
}
#priority-support{
    position: absolute;
    font-size: 20px;
    left: 90px;
    top: 50px;
}
#priority-support-details{
    position: absolute;
    font-size: 15px;
    left: 90px;
    top: 80px;
    opacity: 70%;
}
#direct-icon{
    position: absolute;
    font-size: 30px;
    left: 50px;
    top: 150px;
}
#direct-support{
    position: absolute;
    font-size: 20px;
    left: 90px;
    top: 150px;
}
#direct-support-details{
    position: absolute;
    font-size: 15px;
    left: 90px;
    top: 180px;
    opacity: 70%;
}
#facebook-icon{
    position: absolute;
    font-size: 30px;
    left: 50px;
    top: 250px;
}
#facebook-support{
    position: absolute;
    font-size: 20px;
    left: 90px;
    top: 250px;
}
#facebook-support-details{
    position: absolute;
    font-size: 15px;
    left: 90px;
    top: 280px;
    opacity: 70%;
}
#instagram-icon{
    position: absolute;
    font-size: 30px;
    left: 50px;
    top: 350px;
}
#instagram-support{
    position: absolute;
    font-size: 20px;
    left: 90px;
    top: 350px;
}
#instagram-support-details{
    position: absolute;
    font-size: 15px;
    left: 90px;
    top: 380px;
    opacity: 70%;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-section{
    margin-top: 45px;
}
.full-name{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.email-address{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.row-1{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.row-2{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.booking-reference{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.nature-of-inquiry{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.your-message{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
#text-box{
    width: 304px;
    height: 49px;
    opacity: 30%;
    padding-left: 10px;
}
#message-area{
    width: 720px;
    height: 122px;
    opacity: 30%;
    padding: 10px;
}
.submit-button{
    width: 247px;
    height: 52px;
    margin: 20px;
    border: none;
    background-color: var(--secondary);

}
.plane-box{
    position: relative;
    flex-shrink: 0;
    margin: 20px;
    width: 562px;
    height: 542px;
    border-radius: 5px;
    background-color: var(--primary);
}
#plane{
    position: absolute;
    margin: 20px;
    top: 250px;
    font-size: 90px;
    color: var(--secondary);
}
.standard{
    position: absolute;
    font-size: 30px;
    font-style: oblique;
    padding: 20px;
    bottom: 100px;
    color: var(--off-white);
}
.standard-small-text{
    position: absolute;
    font-size: 16px;
    font-style: oblique;
    padding: 20px;
    bottom:50px;
    color: var(--off-white);
}
@media (max-width: 768px) {
    * {
        
    }
    .top-section{
        flex-direction: column;
    }
    .contacts{
        width: 93%;
    }
    .middle{
        margin-top: 500px;
        flex-direction: column;
    }
    .plane-box{
        width: 93%;
    }
    .form-section{
        max-width: 95%;
    }
    .row-1{
        flex-direction: column;
        gap: 10px;
    }
    .row-2{
        flex-direction: column;
        gap: 10px;
    }
    #message-area{
        width: 100%;
    }
    .head-small-text{
        margin-top: 10px;
    }
    #text-box{
        width: 105%;
    }
    .standard-small-text{
        bottom: 40px;
    }
    .head-text{
        font-size: 70px;
    }
    @media (max-width: 480px) {
    .head-text{
        font-size: 50px;
    }
    .plane-box{
        width: 90%;
    }
    .contacts{
        width: 90%;
    }
    .standard-small-text{
        bottom: 10px;
    }
    #plane{
    position: absolute;
    margin: 20px;
    top: 230px;
    font-size: 90px;
    color: var(--secondary);
    }
    .standard{
        bottom: 110px;
    }
    }
}