/*
  Index section
*/

/* Universal */
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary: #3A1824;
    --tertiary: #4C2D38;
    --secondary: #cbb573;
    --off-white: #f2f0ef;
    --on-black: #000;
    --dark-blue: #001524
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100vh = 100% of the viewport height */
    margin: 0;
}

/* Makes any content in the main container to fill it up */
main {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    color: var(--primary);
}

p {
    color: var(--tertiary);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}


/*Index-Hero*/
.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%),
        url('../assets/index-asset/hero-img.jpg');
    /*the linear gradiant scrim (function)
    rgba(red, green ,blue, opacity) -> rgba(0,0,0, 1) 10% means that at 10% from the right of the image its dark
    rgba(0,0,0,0) 70% of the left is completely transparent, the rest 40% is the fade from dark to transparent*/

    background-size: cover;
    /*scaling image to fit but not to be stretched or squished the browser may crop it for this point*/
    background-position: center;
    /*make the center of the image is the focal point so if its got cut by the upper property it cuts well*/
    /* Layout */
    display: flex;
    /*enabling a flex engine like the usual*/
    flex-direction: column;
    /*puts text elemetns on top of each other vertically*/
    justify-content: center;
    /*center the text elemetns*/
    align-items: flex-start;
    /*pinning the elements to the left*/
    /* Sizing */
    min-height: 50vh;
    /*how much the image should take from the page after the header, vh-> viewport height */
    /*vh also a dynamic scaling unit, it takes 50% of whatever the user screen's height.
    contributes to the responsiveness of the website*/
    padding-left: 80px;
    /*    bit space from the left before the text starts */
}

.hero-text-wrapper {
    max-width: 600px;
    /*prevents stretching*/
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.hero-bttn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    /*    starts every word with the first letter capitalized*/
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-left: 30px;
    transition: color, background-color 0.5s ease-in-out;
    /*so the ease out works, as it only works this way not just on the state of hovering on the element*/

}

.hero-bttn:hover {
    background-color: var(--off-white);
    color: var(--on-black);

}