* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: url("../assets/login-asset/background.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

form {
    background: #f8f3c2;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

h2 {
    text-align: center;
    font-size: 52px;
    margin-bottom: 18px;
    color: #1d1013;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b1adab;
    border-radius: 5px;
    color: #9d8c5b;
    font-size: 18px;
    font-weight: 600;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3A1824;
    text-align: right;
}

button {
    width: 100%;
    padding: 10px;
    background: #e7cc70;
    color: #3A1824;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}

label {
    display: block;
    font-weight: 600;
}

button:hover {
    background: #978549
}

a:hover {
    color: #15090d;
    text-decoration: underline;
}

input:focus {
    outline: none;
    border-color: #978549;
    box-shadow: 0 0 5px rgba(151, 133, 73, 0.5);
}

input::placeholder {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.remember {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1px;
}

.signup {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 10px;
    justify-content: left;
}

.gender {
    margin: 10px 0;
}

.gender-options {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.terms {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.terms input {
    width: 18px;
    height: 18px;
}

.login-link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 90px;
    margin-top: 5px;
}
.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    width: 100%;
    padding-right: 45px;
    display: block;
}

.password-box button {
    width: auto !important; 
    position: absolute;
    right: 10px;
    top: 0%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.password-box i {
    font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
