* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

:root {
      --primary-color: #3A1824;
      --secondary-color: #cbb573;
      --surface-color: #f2f0ef;
      --text-color: #1F040E;
      --tertiary-color: #4C2D38;
}

body {
      font-family: "Plus Jakarta Sans", sans-serif;
      background-color: var(--surface-color);
}

.tickets {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.tickets .ticket-cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      width: 100%;
}

.tickets .ticket-cards .card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      height: 150px;
      padding: 15px;
      margin: 30px;
      transition: all 0.3s ease;
      padding-left: 0;
}

.tickets .ticket-cards .card .icon {
      width: 20px;
}

.tickets .ticket-cards .card .icon i {
      color: var(--primary-color);
      font-size: 35px;
}

.tickets .ticket-cards .card:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
}

.tickets .ticket-cards .card .time {
      display: flex;
      align-items: center;
      gap: 15px;
}

.tickets .ticket-cards .card .destination {
      display: flex;
      gap: 40px;
}

.tickets .ticket-cards .card .destination .from,
.tickets .ticket-cards .card .destination .to {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 500;
}

.tickets .ticket-cards .card .right {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.tickets .ticket-cards .card .right .price {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: bold;
}

.tickets .ticket-cards .card .right .btn-secondary {
      outline: none;
      border: none;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      padding: 10px 15px;
      border-radius: 5px;
      width: 150px;
      cursor: pointer;
      transition: all 0.3s ease;
}

.tickets .ticket-cards .card .right .btn-secondary:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      transition: all 0.3s ease;
}